.section {
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: space-around;
    align-items: center;
}

.container {
    grid-template-columns: 100%;
    grid-template-rows: 50% 25% 25%;
    align-items: center;
}

.section__titulo {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 500;
    line-height: 2;
    margin: 1em 0;
}

.titulo__destaque {
    color: var(--titulo-destaque);
    font-weight: 600;
}

.section__texto {
    color: var(--cor-texto);
    font-weight: 400;
    line-height: 2;
}

.texto__destaque {
    font-weight: 700;
}

.section__butao {
    color: var(--texto-butao);
    display: flex;
    width: 170px;
    height: 56px;
    background-color: var(--cor-butao);
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
}

.section__butao:hover {
    background-color: #5ba38a;
}

.section__imagem {
    width: 520px;
}


