.conteudo {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

.conteudo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.conteudo__titulo {
    font-size: 48px;
    text-transform: uppercase;
    margin: 0.25em;
    line-height: 1.5em;
}

.titulo__destaque {
    color: var(--titulo-destaque);
}

.conteudo__texto {
    font-size: 20px;
    line-height: 1.5em;
    margin: 0.25em;
    color: var(--texto-destaque);
}

.texto__destaque {
    font-weight: 700;
}

.conteudo__butao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 3.5em;
    border-radius: 1em;
    background-color: var(--cor-butao);
    text-align: center;
    margin: 0.5em;
    color: var(--texto-butao);
}

.conteudo__butao img {
    padding: 0.5em;
}



